TF_VAR_token=<gitlab PAT>
TF_VAR_insecure=<true|false>
TF_VAR_base_url=https://<gitlab server dns name>/api/v4/
TF_VAR_registration_token="<gitlab runner registration token>"
TF_VAR_aws_region="<AWS region>"
TF_VAR_environment="<environment name>"
TF_VAR_runner_name="<runner name>>"
TF_VAR_aws_profile="<AWS profile>"
TF_VAR_project="<project name>"
TF_VAR_user="<user name>"
